@font-face { 
    font-family: 'Trickster';
    src: url('assets/Trickster-Reg.ttf');
}
@font-face { 
    font-family: 'Lora';
    src: url('assets/Lora-VariableFont_wght.ttf');
}
@font-face { 
    font-family: 'Lora Italic';
    src: url('assets/Lora-Italic-VariableFont_wght.ttf');
}

@font-face { 
    font-family: 'Avara';
    src: url('assets/Avara-Bold.otf');
}
@font-face { 
    font-family: 'Avara Black';
    src: url('assets/Avara-Black.otf');
}
@font-face { 
    font-family: 'Avara Italic';
    src: url('assets/Avara-BoldItalic.otf');
}

html, body {
    margin: 0; 
    background: url("assets/lined_background.png");
    background-color: #a57;   
}

h1 {
    font-family:"Avara Black",serif;
    font-size: 32px;
    text-align: center;
}

.quest-log-body {
    padding-left: 5vw;

.log-entry {
    padding: 5px;
}

.subentries {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    border-left: 0.15rem solid #111;
}

label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s linear;
  color: #111;
}

.log-entry:hover > label {
    color: #612;
}

.main-quest > label {
    font-family: "Avara Black", serif;
    font-size: 24px;
}

.quest > label {
    font-family: Avara, serif;
    font-size: 24px;
}

.side-quest > label {
    font-family: "Avara Italic", serif;
    font-size: 18px;
}

.side-quest, .quest {
    padding-left: 10px;
}



.checkbox {
    appearance: none;
    -webkit-appearance: none;
    font-size: 2rem;
    padding: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid black;
}

.checkbox::before {
    content: "";
    display: inline-block;
    clip-path: polygon(0% 0%, 48% 40%, 100% 0%, 58% 48%, 100% 99%, 50% 58%, 0% 100%, 35% 49%);
    transform: scale(0);
    background-color: black;
    margin: auto;
    width: 1rem;
    height: 1rem;
}
  
.checkbox:checked::before {
    transform: scale(1.8) rotate(-9deg);
}

.main-quest > .checkbox {
    width: 2.1rem;
    height: 2.1rem;
}

.main-quest > .checkbox::before {
    width: 1.4rem;
    height: 1.4rem;
}

.side-quest > .checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.6rem;
}

.side-quest > .checkbox::before {
    width: 0.8rem;
    height: 0.8rem;
}

.add-button {
    margin-left: 5px;
}

label {
    margin-right: 20px;
}

button {
    font-family: "Avara", serif;
    background-color: #eef0;
    color: #0008;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding-top: 4px;
}

button:hover {
    background-color: #eef6;
    color: #000;
}