@font-face { 
    font-family: 'Trickster';
    src: url('assets/Trickster-Reg.ttf');
}
@font-face { 
    font-family: 'Lora';
    src: url('assets/Lora-VariableFont_wght.ttf');
}
@font-face { 
    font-family: 'Lora Italic';
    src: url('assets/Lora-Italic-VariableFont_wght.ttf');
}

html, body {
    margin: 0;    
}

#quest-log-body {
    background: url("assets/lined_background.png");
    background-color: #877;
    width: 100vw;
    height: 100vh;
}

.log-entry {
    display: block;
    padding: 10px;
}
.log-entry > * {
    display: inline-block;
}

.subentries {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    border-left: 2px solid black;
}

label {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-quest > label {
    font-family: Trickster, serif;
    font-size: 24px;
    color: #111;
}

.quest > label {
    font-family: Lora, serif;
    font-weight: 600;
    font-size: 24px;
    color: #111;
}

.side-quest > label {
    font-family: "Lora Italic", serif;
    font-weight: 600;
    font-size: 18px;
    color: #111;
}

.side-quest, .quest {
    padding-left: 10px;
}



.checkbox {
    appearance: none;
    -webkit-appearance: none;
    font-size: 2rem;
    padding: 0.1rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid black;
}

.checkbox::before {
    content: "";
    display: inline-block;
    clip-path: polygon(0% 0%, 48% 40%, 100% 0%, 58% 48%, 100% 99%, 50% 58%, 0% 100%, 35% 49%);
    transform: scale(0);
    background-color: black;
    margin: auto;
    width: 1rem;
    height: 1rem;
}
  
.checkbox:checked::before {
    transform: scale(1.8) rotate(-9deg);
}

.bigcheckbox {
    width: 2.1rem;
    height: 2.1rem;
    border: 0.25rem solid black;
}

.bigcheckbox::before {
    width: 1.4rem;
    height: 1.4rem;
}